
header{
	color:#ffffff;
	min-height:250px;
	border-bottom:#ffffff;
	text-align:center;
	max-width:300px;
	padding-right:300px;
	position:center;
	
}
.containerLogo img{
	position: no-repeat fixed;
	height:200px;
	width:300px;
}
.center{
	position:absolute;
    top:10%;
	left:25%;
	font-size:35pt;
	font-family:Berlin Sans FB Demi;
	text-transform:uppercase;
}
nav
{
	width:300px;
	height:50px;
	margin-top:-18px;
	background-color:#707070;
	margin-bottom:3px;
}
ul 
{
	list-style-type: none;	
}

nav li {
	display:inline;	
}

li a 
{
	font-family:Times;
	font-size:15pt;
	float:left;
	color:#ffffff;
	text-transform:uppercase;
	text-decoration:none;
	padding: 10px 0px 20px 40px;	
	
}
body{	
	color:#000000;
	background:url("../img/background.jpeg") no-repeat top center fixed;
	background-size: cover;
	width:300px;
	margin: 0 auto;
	text-align:center;
}
body p{
	font-family:Times;
	background-color:#2699FB;
	font-size:30pt;
	color:#ffffff;
	margin:0px;
	width:300px;
	text-align: center;
	
}
#grid-container
{
	width:410px;
	background-color:#ffffff;
	display: grid;
	margin: 10px 30px 10px 10px;
	grid-template-columns: 270px;
	grid-template-rows: 270px;
	grid-gap:10px;
}
.grid-container p
{
	color:#ffffff;
	text-transform:uppercase;
	font-size:25pt;
	background-color:#2699FB;
	margin:0;
	padding: 20px 20px 20px 20px;
	
}
footer{
	font-family:Times;
	font-size:15pt;
	color:#FFFFFF;
	background-color:#000000;	
	text-align:center;
	width:300px;
	margin-left:-10px;
}
img{
	
    width:  270px;
    height: 270px;
    background-repeat: no-repeat;
}
