
header
{
	color:#ffffff;
	height:160px;	
	text-align:center;		
	margin-bottom:3px;
}
.containerLogo img
{	
	height:130px;
	width:300px;
	padding-bottom:0;
	z-index:1;
}
.center{
	position:absolute;
    top:8%;
	left:25%;
	font-size:30pt;
	font-family:Berlin Sans FB Demi;
	text-transform:uppercase;	
	z-index:2;
}
nav
{
	width:300px;
	height:30pt;
	margin-top:-18px;
	background-color:#707070;
}
ul 
{
	list-style-type: none;	
}

nav li {
	display:inline; 	
}

li a 
{
	font-size:15pt;
	font-family:Times;
	float:left;
	padding-left:15px;
	padding-bottom:10px;
	color:#ffffff;
	text-transform:uppercase;
	text-decoration:none;
	margin-left:15px;	
}
body{
	font-family: Times;
	background-color:#ffffff;
	background:url("../img/background.jpeg") no-repeat top center fixed;
	background-size: cover;
	width:300px;
	margin: 0 auto;
	text-align:center;
} 

.grid-container p
{
	font-family:Times;
	color:#ffffff;
	text-transform:uppercase;
	font-size:35pt;
	background-color:#2699FB;
	margin:0;
	padding: 20px 20px 20px 10px;
	
}
#grid-container
{	
	background-color:#ffffff;
	display:grid;
	grid-template-columns:300px;
	grid-template-rows:200px;	
	padding:0;	
	margin-top:0;
}
footer{
	font-family:Times;
	color:#FFFFFF;
	background-color:#000000;	
	text-align:center;
	font-size:15pt;
	margin-top:1px;
}
#picture2,#picture3,#picture4 p
{
	 word-spacing:9999px;
}
img{
	position: relative;
    width:  300px;
    height: 200px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
	margin: 0;
	padding:0;
}